body {
	background-image: url("/assets/img/light-veneer.png");
}

.page-header {
	margin-top: 0px;
	border-color: #ddd;
}

.order-form {
	padding: 20px;
}

.thumbnail {
	min-height: 125px;
}

.thumbnail img {
	max-width : 50%;
}

h1 {
	margin-top: 10px;
}